::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0.637);
    margin-right: 10px;
    width: 5px;
    overflow-y: auto;
    scrollbar-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    transition: 1s;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    overflow-y: auto;
    scrollbar-color: transparent;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

li  {
	font-family: "Arial";
}

p {
	font-family: "Arial";
}

a {
    font-family: "Arial";
    text-decoration: none;
}

a:hover {
    color: rgb(0, 43, 184);
}


h1 {
    font-family: "Arial";
}

h2 {
    font-family: "Arial";
}

h3 {
    font-family: "Arial";
}

h4 {
    font-family: "Arial";
}

h5 {
    font-family: "Arial";
}

h6 {
    font-family: "Arial";
}

p {
    font-family: "Arial";
}

header {
    background-color: #000000;
    width: 100%;
    color:#ffffff;
}

footer {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #000000;
    color:#ffffff;
}

article{
    background-color:#ffffff;
    padding: 5px 90px;
    padding-bottom: 5px;
    justify-content: space-between;
    
}

.logo{
    color: #4e68ff;
    vertical-align: -5px;
    margin-right: 5px;
    font-size: 25px;
    font-weight: bold;
    transition: 0.3s;
    font-style: italic;
}

.menu{
    text-decoration: none;
    list-style: none;
    margin-left: 80px;
    
}

.headerInner{
    display: flex;
    justify-content: space-between;
}

.container{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    font-size: 18px;
} 

main{
    background-color:#ffffff;
    padding: 22px 50px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    color:#000000;
            
}

.div{
    display:flex;
    justify-content:space-around;
}

.logo:hover {
    color: #899bff;
}

.nav {
    color: #fff;
    vertical-align: -2px;
	margin-right: 3px;
    font-size: 13px;
    transition: 0.5s;
}

.nav:hover {
    text-decoration: underline 3px;
    text-underline-offset: 3px;
    font-style: italic;
    color: #306fce;
}

.nav2 {
    color: #fff;
	margin-right: 3px;
    transition: 0.5s;
}

.nav2:hover {
    text-decoration: underline 3px;
    text-underline-offset: 3px;
    font-style: italic;
    color: #00ff15;
}

.active {
    vertical-align: -2px;
    margin-right: 2px;
    font-size: 13px;
    text-decoration: underline 3px;
    text-underline-offset: 3px;
    font-style: italic;
    color: #568bff;
}

.bannerwelcome {
    background-color: #fff;
    transition: 0.3s;
}

.bannerwelcome:hover {
    background-color: rgb(227, 227, 227);
}
